# Server Configuration
PORT=3000

# MongoDB Configuration
MONGODB_URI=mongodb://localhost:27017/deepfake-detection
# Or for MongoDB Atlas:
# MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/deepfake-detection

# NVIDIA Hive API Configuration
NVIDIA_API_KEY=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
